<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <connection-manager>
        <proxies>
            <proxy-source type="file">
                <url>https://raw.githubusercontent.com/clarketm/proxy-list/master/proxy-list.txt</url>
                <headers>
                    <header>
                        <name>User-Agent</name>
                        <value>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:45.0) Gecko/20100101 Firefox/45.0</value>
                    </header>
                    <header>
                        <name>Accept-Language</name>
                        <value>ru,en-US;q=0.7,en;q=0.3</value>
                    </header>
                </headers>
                <retrieve>
                    <step type="strings-get_data-strings" arg_1="((?:\d{1,3}.?){4}):(\d+).+" arg_2="1" arg_3="2"/>
                </retrieve>
            </proxy-source>
            <!--<proxy-source type="site">
                <url>http://proxydb.net?protocol=http</url>
                <offset>offset</offset>
                <headers>
                    <header>
                        <name>User-Agent</name>
                        <value>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:45.0) Gecko/20100101 Firefox/45.0</value>
                    </header>
                    <header>
                        <name>Accept-Language</name>
                        <value>ru,en-US;q=0.7,en;q=0.3</value>
                    </header>
                </headers>
                <retrieve>
                    <step type="json_doc-select-strings" arg_1="table &gt; tbody &gt; tr &gt; td &gt; script" arg_2="doc"/>
                    <step type="jsoup_elements-get_data-strings"/>
                    <step type="strings-trim_lines-strings"/>
                    <step type="strings-remove_line-strings" arg_1="proxies\.push\(.+\);"/>
                    <step type="strings-replace_line-strings" arg_1="^document\.write\(.+?&gt;&apos;\s\+\s(.+?)\s\+\s&apos;&lt;/a&gt;&apos;\);$" arg_2="&quot;var result = &quot;1&quot;; result;&quot;"/>
                    <step type="strings-js-strings"/>
                    <step type="get_proxy" arg_1="((?:\d{1,3}.?){4}):(\d+)" arg_2="1" arg_3="2"/>
                </retrieve>
            </proxy-source>-->
        </proxies>
    </connection-manager>
</config>
